body {
  background-color: #f3f4f6;
  font-family: 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.restaurant-card {
  background: rgb(166, 224, 170);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 3px rgba(38, 6, 6, 0.1);
  width: 320px;
  text-align: center;
  border-top: 5px solid #56494e;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

#bill {
  margin-top: 20px;
  padding: 15px;
  background: #fff9f8;
  border: 1px dashed #e74c3c;
  border-radius: 8px;
  text-align: left;
}