

.rasm{
  width: 100px;
  box-shadow: 2px 2px 10px rgba(113, 234, 107, 0.5);
  border-radius: 5px;
}

.ota{
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}

.counter{
  display: flex;
  gap: 10px;
}

.input{
  width: 30px;
}