#auth-container {
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	text-align: center;
	margin: 50px auto;
	font-family: sans-serif;
}

#message {
	font-weight: bold;
	margin-top: 15px;
}

.error {
	color: red;
}
.success {
	color: green;
}
