body {
	display: grid;
	place-items: center;
	height: 100vh;
	background: #34495e;
	font-family: sans-serif;
	color: white;
}
.quiz-container {
	background: white;
	color: #333;
	padding: 30px;
	border-radius: 15px;
	width: 350px;
	text-align: center;
}
button {
	display: block;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
button:hover {
	background: #3498db;
	color: white;
}
.hide {
	display: none;
}
#question {
	font-weight: bold;
	font-size: 18px;
}
