body {
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Arial", sans-serif;
	transition: background 0.5s ease, color 0.4s ease;
}

.ui-wrapper {
	text-align: center;
}

.buttons-container {
	display: flex;
	gap: 35px;
	margin-top: 2px;
}

button {
	padding: 12px 25px;
	border: 2px solid #ccc;
	border-radius: 25px;
	cursor: pointer;
	background: white;
	font-weight: bold;
	transition: 0.3s;
}

button:hover {
	/* transform: translateY(-3px); */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


/* #mavzu{

	transition: color 5s ease, color 0.5s ease;
} */
